/* common shared styles */

body {
    font-family: 'Lato', sans-serif;
}

/* Button Section */

.white-btn {
    display: block;
    width: 120px;
    color: #474747;
    text-decoration: none;
    text-align: center;
    padding: 10px 5px;
    background-color: #FFF8F3;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
}

.white-btn i {
    color: #FD6E0A;
}

.hire-btn {
    display: block;
    width: 120px;
    color: #FFF8F3;
    text-decoration: none;
    text-align: center;
    padding: 12px 5px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.mail-btn {
    display: block;
    width: 120px;
    color: #FFF8F3;
    text-decoration: none;
    text-align: center;
    padding: 12px 10px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.download-btn {
    display: block;
    margin: auto;
    width: 170px;
    color: #FFF8F3;
    text-decoration: none;
    text-align: center;
    padding: 12px 10px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 900;
}

.submit-btn {
    display: block;
    font-weight: 700;
    padding: 15px 30px;
    color: #424242;
    border-radius: 5px;
    background: #fd6f0a52;
    border: none;
    transition: 2s linear;
}

/* Hover Style */

.submit-btn:hover{
    background-color: #FD6E0A;
    color: #FFF;
}

.download-btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .download-btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #FFF8F3;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .download-btn:hover:before, .download-btn:focus:before, .download-btn:active:before {
    left: 0;
    right: 0;
  }

/* Banner Section */

.banner-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.orange {
    color: #FD6E0A;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/* nav related style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-titel {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */

.header {
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png'), url('images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 500px;
}

.banner-greeting {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-title {
    font-size: 70px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 20px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 50px;
}

.banner-content {
    max-width: 600px;
}

/* main section style */

main {
    max-width: 1140px;
    margin: auto;
}

main section {
    margin-top: 130px;
}

/* about section styles */

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* Skill related styles */

#widd {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: #757575;
}

/* Resume-column-title */

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-description {
    color: #757575;
}

.resume-item-institute {
    color: #707070;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-container hr {
    margin: 30px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

.resume-column {
    width: 50%;
    text-align: center;
}

/* footer style */

footer {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
}

.footer-column {
    width: 50%;
}

.social-links a {
    margin-right: 25px;
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0px;
    width: 100%;
}

/* Responsive Styles */

/* Mobile Device */

@media screen and (max-width: 576px) {
    .header {
        background-image: none;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .banner-content {
        width: 100%;
    }

    .banner-list {
        flex-direction: column;
        gap: 40px;
    }

    nav,
    .about-info-container,
    .skills-container {
        flex-direction: column;
    }

    .banner .profile-pic {
        width: 100%;
    }

    /* .download-btn .contact-btn{
        flex-direction: column;
        margin-bottom: 15px;
        gap: 100px;
    } */

    nav>ul {
        flex-direction: column;
        gap: 40px;
    }

    #widd {
        padding: 20px;
    }

    .resume-container {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        padding: 10px;
    }

    .footer-column {
        width: 100%;
    }

    .contact input[type="text"],
    .contact input[type="email"],
    textarea {
        width: 80%;
    }

    .about {
        padding: 10px;
    }
}

@media screen and (min-width: 576px) and (max-width: 960px) {}